.footer {
  background-color: $primary;
  width: 100%;
  position: relative;
  padding: 80px 0 40px;
  z-index: 1;

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: calc(100% - 1px);
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='20' viewBox='0 0 1440 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 20H1600V1.80155C1600 1.80155 1397.5 0.135027 1389 0.00172806C1380.5 -0.131571 1314 7.49597 1284.5 5.77046C1255 4.04495 1171 0.135027 1171 0.135027L1011 2.63481C1011 2.63481 906.5 5.96786 889.5 5.96786C872.5 5.96786 768 1.80155 756 2.63481C744 3.46807 708 5.96786 694 8.46764C680 10.9674 597 5.96786 597 5.96786L558 5.13459L417 4.30133L320 1.80155L227 3.30141L137 0.135027L51 4.30133L0 1.80155V20Z' fill='%23203942'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $alt-family;
  font-style: normal;
  font-weight: 500;
  @include fsz(16px);
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 60px;

  @media #{$desktop} {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer__top-left {
    max-width: 770px;
    width: 100%;
    padding: 35px 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    // @media #{$desktop} {
    //  max-width: 370px ;
    // }
  }
  .footer__top-right {
    position: relative;
    max-width: 369px;
    width: 100%;
    padding: 35px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    z-index: -1;
    @media #{$desktop} {
      max-width: 770px;
      width: 100%;
    }
    &:before {
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='32' viewBox='0 0 23 32' fill='none'%3E%3Cpath d='M21.7679 31.9988C21.5129 31.9988 21.2602 31.9199 21.0484 31.762L11.5 24.7134L1.95156 31.762C1.57617 32.0383 1.08286 32.0778 0.671374 31.8607C0.259886 31.646 0 31.2118 0 30.7357V5.47212C0 2.45481 0 3.05186 8.19549e-05 0L23 0C23 3.99924 23 2.45481 23 5.47212V30.7357C23 31.2118 22.7401 31.646 22.3286 31.8607C22.1506 31.9544 21.9605 31.9988 21.7679 31.9988Z' fill='%23C27047'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      overflow: hidden;
      width: 23px;
      height: 32px;
      position: absolute;
      left: auto;
      right: 35px;
      top: 0;
      z-index: 1;
    }
    &:after {
      content: " ";
      background-image: url(uploads/patterntop.png);
      background-repeat: no-repeat;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 3;
      @media #{$desktop} {
        display: none;
      }
    }
  }
}
.footer__title {
  font-family: $primary-family;
  font-weight: 700;
  @include fsz(30px);
  line-height: 1.1;
  color: $white;
  margin-bottom: 10px;
}

.footer__form {
  position: relative;
  margin-top: 25px;
  z-index: 4;

  #email {
    background: $white-soft;
    max-width: 300px;
    height: 48px;
    width: 100%;
    border-radius: 6px;
    border: none;
  }
  #subscribe {
    position: relative;
    max-width: 155px;
    height: 42px;
    width: 100%;
    background-color: $secondary;
    padding: 14px 35px;
    margin-top: 10px;
    border-radius: 6px;
    font-family: $alt-family;
    font-weight: 700;
    @include fsz(14px);
    line-height: 1;
    color: $white;
    float: right;
    z-index: -1;
    text-transform: uppercase;
    background-image: url(uploads/subscribe.png);
    background-repeat: no-repeat;
    @media #{$desktop} {
      float: left;
    }
  }
}

.footer__top-content {
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(36px);
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  gap: 4px;
  margin-top: 20px;

  @media #{$phone} {
    @include fsz(25px);
    flex-direction: column;
  }

  a {
    font-family: $primary-family;
    font-weight: 400;
    @include fsz(36px);
    line-height: 0.9;
    color: $white;
    @media #{$phone} {
      @include fsz(25px);
    }
    &:hover {
      color: $secondary;
    }
  }
}
.footer__line {
  margin: 15px 0;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.3;
}
//footer medium

.footer__medium {
  display: flex;
  max-width: 755px;
  width: 100%;
  justify-content: space-between;
  @media #{$desktop} {
    margin: 0 auto;
  }
  @media #{$phone} {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.footer__medium {
  font-family: $primary-family;
  font-weight: 500;
  @include fsz(16px);
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 60px;

  a {
    font-family: $primary-family;
    font-weight: 500;
    @include fsz(16px);
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.75);
  }
  .footer__medium-left {
    display: flex;
    flex-direction: column;
  }
}

.footer__subtitile {
  font-family: $alt-family;
  font-weight: 700;
  @include fsz(20px);
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
}

//footer__media lists

.footer__media {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;

  @media #{$desktop} {
    flex-direction: column;
    gap: 20px;
  }
  .footer__media-left {
    max-width: 350px;
    width: 100%;
    @media #{$desktop} {
      margin: 0 auto;
      
    }
    @media #{$phone} {
    max-width: 100%;
      
    }
  }
  .footer__media-right {
    max-width: 671px;
    width: 100%;

    @media #{$desktop} {
      margin: 0 auto;
    }
    @media #{$phone} {
      max-width: 100%;
        
      }
  }
}

.footer__media-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$phone} {
    
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

//footer  social media lists

.footer__icons {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  .footer__iconlist {
    padding: 20px;
    max-width: 410px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .icon {
      @include fsz(40px);
      opacity: 0.75;
      fill: $white;
    }
  }
}

//nav links

.footer__nav {
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  .footer__lists {
    max-width: 811px;
    width: 100%;
    margin: 0 auto;
    color: $white;
    display: flex;
    justify-content: space-between;
    list-style-type: disc;
    @media #{$phone} {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
    .footer__links {
      a {
        font-family: $alt-family;
        font-weight: 400;
        @include fsz(18px);
        line-height: 1;
        color: $white;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

//sponsor lists

.footer__sponsors {
  max-width: 699px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  overflow: hidden;
}

//footer bottom

.footer__bottom {
  max-width: 293px;
  width: 100%;
  margin: 0 auto;
  margin-top: 18px;
  font-family: $primary-family;
  font-weight: 500;
  @include fsz(16px);
  line-height: 1.37;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  .footer__bottom-title {
    font-weight: 700;
    @include fsz(15px);
    line-height: 1.3;
    text-align: right;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    margin-top: 15px;
  }
}
