.header {
  padding: 28px 60px;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
 
}

.header__nav {
  display: flex;
  max-width: 429px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.primaryNav {
  max-width: 339px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  li {
    list-style-type: disc;
    color: $white;
    a {
      font-family: "Casus Pro";
      font-weight: 400;
      @include fsz(18px);
      line-height: 1;
      letter-spacing: -0.02em;
      color: $white;
      &:hover {
        color: $tertiary-alt;
      }
    }
  }
}

.primaryNav {
  li {
    ul {
      position: absolute;
      display: none;
      z-index: 3;
      &:hover {
        display: block;
      }
    }
  }
}

.header__logo-image {
  max-width: 197px;
  width: 100%;
  height: 81px;
}