$menubar-transition: 0.4s ease;

.menuBar__container {
    position: relative;
    display: block;
    width: 36px;
    height: 26px;
    transition: $menubar-transition;

    .nav__visible & {
        transform: rotate(-180deg);
    }
}

.menuBar {
    display: block;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0;
    width: 100%;
    background-color: #000;
    border-radius: 4px;
    transition: $menubar-transition;

    &:first-child {
        top: 0;
        margin-top: 0;

        .nav__visible & {
            transform: rotate(45deg);
            top: 11px;
        }
    }

    &:nth-child(2) {

        .nav__visible & {
            opacity: 0;
        }
    }

    &:last-child {
        top: auto;
        bottom: 0;
        margin-top: 0;

        .nav__visible & {
            transform: rotate(-45deg);
            bottom: 11px;
        }
    }
}
