.banner {
  background-color: $white-soft;

  position: relative;
}

.banner__content {
  position: relative;
  z-index: 3;
  max-width: 970px;
  width: 100%;
  padding: 50px 55px 48px 50px;
  background-color: $alt;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  &:before {
    content: " ";
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='970' height='25' viewBox='0 0 970 25' fill='none'%3E%3Cpath d='M919.654 5.68001C932.255 5.78619 948.764 5.82501 954.902 6.5018C958.052 6.32101 963.403 6.10963 970 6.00357V24.9998H0.00013206C8.05614e-05 14.4997 -0.000104723 12.9997 8.05614e-05 5.74646C39 1.99971 69.2513 4.47186 89.5001 5.94355C100 6.7067 126.5 8.85825 147.5 7.99972C168.5 7.14118 186.641 3.78847 218.5 3.29229C243.987 2.89535 308 7.99972 308 7.99972C308 7.99972 373 0.37923 412.5 5.29229C452 10.2054 487.559 6.00668 504 6.11412C512.79 6.17156 546 10.5001 565.5 10.5001C580.589 10.5001 614.5 -3.50009 679.527 7.62598C690.508 8.77605 728.829 10.9963 744 10.5001C759.171 10.004 798.5 5.29229 798.5 5.29229C798.5 5.29229 839.932 0 846 0C867.788 0 897.745 5.49596 919.654 5.68001Z' fill='%23F5F4F1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.banner__left {
  max-width: 450px;
  width: 100%;
  font-family: $alt-family;
  font-weight: 500;
  @include fsz(20px);
  line-height: 1.6;
  color: $primary;
}

.banner__title {
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(60px);
  line-height: 1;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 30px;
}

.banner__right {
  max-width: 360px;
  width: 100%;
  display: flex;
  margin-top: 26px;
}

.banner__media {
  position: relative;
  max-width: 120px;
  width: 100%;
  height: 290px;
  border-radius: 60px;

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
  }

  &:nth-child(3) {
    z-index: 1;
  }

  &:after {
    content: "";
    $borderWidth: -8px;
    position: absolute;
    top: $borderWidth;
    bottom: $borderWidth;
    left: $borderWidth;
    right: $borderWidth;
    z-index: -1;
    border: 8px solid $alt;
    border-radius: 60px;
  }
  img {
    object-fit: cover;
    height: 100%;
    border-radius: 60px;
  }
  .banner__subtitle {
    position: absolute;
    top: auto;

    z-index: 34;
    bottom: 35px;
    font-family: $alt-family;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
    color: $white;
  }

  &:before {
    position: absolute;
    content: " ";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64) 50.52%
    );
    border-radius: 0 0 60px 60px;
    width: 100%;
    height: 145px;
    top: auto;
    bottom: 0;
  }
}

.banner__media--alt {
  border: 8px solid $alt;
}
