.card {
  position: relative;
  background-color: $secondary;
  box-sizing: border-box;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 80px 0;
  @media #{$phone} {
    padding: 40px 0;
  }

  &:before {
    content: "  ";
    position: absolute;
    background-image: url(uploads/backcard.png);
    width: 100%;
    height: 100%;
    top: -60px;
    z-index: 2;
  }
  &:after {
    content: "  ";
    position: absolute;
    border: 1px dashed rgba(255, 255, 255, 0.25);
    margin: 20px;
    z-index: 5;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

.card__heading {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  font-family: $alt-family;
  font-weight: 500;
  @include fsz(20px);
  line-height: 1.6;
  text-align: center;
  margin-bottom: 35px;
  color: $white;
  @media #{$phone} {
    margin-bottom: 20px;
  }
  .card__title {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(60px);
    line-height: 1;
    text-align: center;
    color: $white;
    @media #{$header} {
      @include fsz(50px);
    }
    @media #{$phone} {
      @include fsz(30px);
    }

    .card__strong {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='357' height='80' viewBox='0 0 357 80' fill='none'%3E%3Cpath opacity='0.3' d='M333.047 7.59519C334.16 7.68031 335.275 7.76489 336.388 7.85002C339.654 9.55516 344.665 7.16846 347.17 10.7485C349.675 14.3286 349.232 21.0909 350.749 22.2842C351.963 23.2389 354.834 29.5714 356.118 32.6183V32.6218C356.118 35.4044 356.118 37.391 355.389 39.4117C355.46 42.8996 351.705 47.4544 353.325 50.4875C361.037 53.2044 354.577 56.5815 352.266 60.5377C352.444 61.8464 351.908 63.3597 352.66 64.845C351.085 64.7199 350.239 67.0129 350.239 68.4188C346.83 70.2751 339.654 73.8287 338.223 73.1922C336.433 72.3967 325.696 76.9339 323.549 76.9339C321.831 76.9339 305.414 73.3789 297.421 71.6011C295.274 70.01 287.758 76.4749 286.326 76.9339C284.895 77.3929 276.305 75.1181 271.653 74.9885C263.973 74.7745 263.493 80.8629 261.037 78.6991C259.858 80.5384 255.296 76.6536 254.116 77.9656C253.484 78.6681 240.528 74.8893 238.01 74.3856C233.98 73.5793 231.899 73.1922 227.989 73.1922C222.627 73.1922 218.025 73.791 212.945 74.6715C212.114 74.2864 210.165 73.4519 209.02 73.1922C207.589 72.8676 204.368 72.7939 203.163 72.8193C202.199 72.8397 198.627 73.2916 196.962 73.5154C196.962 73.5154 194.08 72.9824 193.475 72.8193C189.588 75.1535 181.384 79.5973 179.669 78.6991C178.184 79.5856 174.943 78.9419 173.555 79.1652C170.705 78.2737 164.303 81.3499 162.288 79.2522L80.4106 71.2965H76.8547C75.88 71.4208 72.2232 72.6771 71.8175 71.9865C70.7692 73.0551 67.1555 71.5949 65.6948 71.5949L44.7654 76.3807C44.7654 76.3807 44.3624 74.2607 43.7805 73.4906C41.6384 74.2536 39.1339 73.1597 34.127 76.9028C32.3189 76.702 30.8841 76.6747 29.2345 77.4125C28.4185 79.7583 24.3164 77.8458 24.5154 77.1203C24.2659 75.1023 24.2071 72.5458 24.2071 72.5458C24.2071 72.5458 20.297 72.6719 23.1929 71.626C21.6153 70.9784 20.3357 72.0308 18.7429 71.2468C17.8045 70.7838 17.0548 70.844 16.246 71.657C15.5302 72.377 14.7188 72.9353 13.9336 73.5216C13.2958 73.9974 12.6391 74.4601 11.7708 73.9319L11.6194 73.3493C11.2833 72.0569 10.9123 70.6304 10.398 68.6488C9.75561 61.9164 2.88615 70.2662 4.53456 65.5598C4.80012 64.251 4.1929 62.977 4.03685 61.5943C3.6718 61.1417 3.29404 60.6712 2.92541 60.2145C2.69206 58.6377 3.10068 57.1561 3.43639 55.783C3.86158 54.0431 3.78283 52.3385 3.85441 50.8293C3.29823 49.1006 2.80863 47.5751 2.30328 46.0062C2.69912 43.68 3.57204 41.3616 2.73527 38.815C-1.18073 37.2954 1.86978 34.8387 0 30.7847C0.282025 29.9048 0.593968 28.9336 0.960457 27.7951C4.61939 22.982 4.76989 20.1725 7.45297 15.7995C8.4166 14.2294 10.4289 11.6775 12.0581 10.9577C14.4485 9.87899 16.7714 8.28365 19.5062 8.53371C21.3256 8.69501 22.8361 8.17927 24.6622 8.07377C29.2725 7.47942 33.8092 6.98276 38.4406 7.85002C40.4492 7.76489 42.4584 7.68031 44.4669 7.59519C45.5499 7.93648 51.6141 7.46262 56.4894 7.18497C57.5068 5.33281 71.1079 6.65509 72.425 6.89906C74.4346 6.56659 76.5488 6.45283 78.5568 6.94879C78.6544 7.01094 86.2614 5.57733 89.1246 5.17954C91.9878 4.78176 105.588 3.98619 113.104 3.58841C119.117 3.27018 128.918 1.70994 133.067 0.969598C135.678 0.427021 142.702 0.395894 148.063 0.310769C148.03 0.410215 147.999 0.510456 147.967 0.609107H148.065V0.310769C151.132 0.262239 153.654 0.193323 154.485 0C154.979 0.0723967 155.473 0.145937 155.967 0.217538L155.769 0.0435076L156.164 0.217538C156.263 0.231858 156.362 0.247521 156.461 0.261046C156.362 0.290482 156.263 0.31942 156.164 0.348061C158.416 0.808695 164.137 -0.233698 166.732 0.522091C166.956 0.237278 171.291 0.234295 172.461 0.348061C178.946 0.492059 185.433 0.638344 191.918 0.783137C192.715 0.888948 193.513 0.99431 194.311 1.10012C194.584 1.08103 194.84 1.05144 195.056 1.00689C194.957 0.97825 194.858 0.948516 194.759 0.919875C194.839 0.907698 194.919 0.896198 194.998 0.8847L195.056 0.876368C195.188 0.819087 195.319 0.759618 195.451 0.702337C195.385 0.759618 195.32 0.819087 195.254 0.876368C195.748 0.803971 196.241 0.731226 196.735 0.65883C197.566 0.852948 200.089 0.920273 203.155 0.969598V1.26794H203.253L203.237 1.21804C203.211 1.1354 203.184 1.05167 203.158 0.969598C209.237 1.06586 217.464 1.0864 218.957 1.87083C221.547 2.79284 229.421 3.58841 233 3.19062C236.579 2.79284 242.663 1.87083 245.527 1.87083H260.201C261.346 1.87083 264.048 0.97167 265.256 0.522091C267.261 -0.531454 270.019 0.536645 272.045 0C272.506 0.193323 273.906 0.262239 275.606 0.310769C278.579 0.395894 282.474 0.427021 283.922 0.969598C285.678 0.627041 290.336 0.14746 294.917 0.969598C300.643 1.99727 319.97 5.17954 322.117 4.78176C324.265 4.38397 326.77 5.94617 328.917 6.77068C330.635 7.43028 332.386 7.59519 333.047 7.59519Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      @media only screen and (max-width: 660px) {
        background-image: none;
      }
    }
    @media #{$phone} {
      @include fsz(30px);
    }
  }
  .card__subtitle {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(30px);
    line-height: 1.5;
    text-align: center;
    color: $white;
    margin-bottom: 30px;
    @media #{$phone} {
      @include fsz(20px);
      margin-bottom: 2s0px;
    }
  }
  @media #{$phone} {
    @include fsz(18px);
  }
}

.card__link {
  position: relative;
  max-width: 407px;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$phone} {
    width: 70%;
    height: 50px;
  }
  &:before {
    content: "  ";
    position: absolute;
    border: 1px dashed rgba(194, 112, 71, 0.55);

    margin: 6px;
    z-index: 5;
    bottom: 0;
    top: 0;
    left: 0;
    border-radius: 50px;
    right: 0px;
    @media #{$phone} {
      margin: 3px;
    }
  }

  a {
    font-family: $alt-family;
    font-weight: 700;
    @include fsz(20px);
    line-height: 1.6;
    text-align: center;
    color: $primary;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$phone} {
      @include fsz(15px);
    }
    svg {
      width: 24px;
      aspect-ratio: 1/1;
      fill: $primary;
      margin-right: 12px;
    }
    &:hover {
      color: $secondary;
      fill: $secondary;
    }
  }
}
