.image-slider {
  position: relative;
  padding-top: 100px;
  background-color: $alt;

  &:before {
    content: " ";
    position: absolute;
    z-index: 8;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='20' viewBox='0 0 1440 20' fill='none'%3E%3Cpath d='M0 20H1600V1.80155C1600 1.80155 1397.5 0.135027 1389 0.00172806C1380.5 -0.131571 1314 7.49597 1284.5 5.77046C1255 4.04495 1171 0.135027 1171 0.135027L1011 2.63481C1011 2.63481 906.5 5.96786 889.5 5.96786C872.5 5.96786 768 1.80155 756 2.63481C744 3.46807 708 5.96786 694 8.46764C680 10.9674 597 5.96786 597 5.96786L558 5.13459L417 4.30133L320 1.80155L227 3.30141L137 0.135027L51 4.30133L0 1.80155V20Z' fill='%23D6DBC4'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
//heading part
.image-slider__heading {
  position: relative;
  z-index: 4;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  font-family: $alt-family;
  font-weight: 500;
  @include fsz(20px);
  line-height: 1.6;
  text-align: center;
  color: $primary;
  padding: 0 20px;
  margin-bottom: 50px;
  &:before {
    content: "  ";
    position: absolute;
    background-image: url(uploads/imgsliderpattern.png);
    width: 100%;
    max-width: 594px;
    height: 274px;
    top: -100px;
    left: auto;
    bottom: 0;
    right: 80px;
    z-index: 5;
    overflow: hidden;
    opacity: 0.5;
  }
}

.image-slider__title {

  position: relative;
  font-family: $primary-family;
  font-weight: 700;
  @include fsz(80px);
  line-height: 0.9;
  text-align: center;
  letter-spacing: -0.02em;
  color: $primary;
  margin-bottom: 25px;
  z-index: 4;
  .image-slider__strong {
    font-weight: 400;
    position: relative;
    &:before {
      position: absolute;
      content: " ";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='466' height='94' viewBox='0 0 466 94' fill='none'%3E%3Cpath d='M434.734 8.92428C436.187 9.02431 437.641 9.12368 439.095 9.22371C443.358 11.2273 449.899 8.42288 453.169 12.6294C456.439 16.836 455.861 24.7817 457.841 26.1839C459.425 27.3057 463.172 34.7463 464.848 38.3264V38.3305C464.848 41.6001 464.848 43.9343 463.897 46.3087C463.99 50.4069 459.089 55.7588 461.203 59.3227C471.269 62.5151 462.838 66.4832 459.821 71.1318C460.053 72.6695 459.353 74.4475 460.335 76.1928C458.279 76.0459 457.174 78.7401 457.174 80.3921C452.725 82.5732 443.358 86.7486 441.489 86.0008C439.154 85.066 425.138 90.3973 422.335 90.3973C420.093 90.3973 398.664 86.2202 388.231 84.1312C385.428 82.2616 375.617 89.8579 373.748 90.3973C371.88 90.9366 360.667 88.2637 354.594 88.1114C344.569 87.8599 343.943 95.0139 340.737 92.4713C339.198 94.6325 333.244 90.0679 331.703 91.6096C330.878 92.4349 313.966 87.9948 310.68 87.403C305.419 86.4556 302.703 86.0008 297.599 86.0008C290.6 86.0008 284.592 86.7044 277.962 87.7389C276.877 87.2865 274.334 86.3059 272.839 86.0008C270.97 85.6194 266.766 85.5327 265.193 85.5626C263.935 85.5865 259.273 86.1176 257.099 86.3806C257.099 86.3806 253.337 85.7543 252.548 85.5626C247.473 88.3053 236.765 93.5268 234.526 92.4713C232.588 93.513 228.357 92.7566 226.546 93.0191C222.825 91.9715 214.468 95.5861 211.839 93.1213L104.962 83.7734H100.32C99.0478 83.9194 94.2745 85.3956 93.745 84.584C92.3766 85.8397 87.6595 84.1239 85.7529 84.1239L58.4332 89.7473C58.4332 89.7473 57.9072 87.2562 57.1476 86.3514C54.3515 87.2479 51.0823 85.9626 44.5467 90.3607C42.1865 90.1248 40.3137 90.0927 38.1604 90.9596C37.0953 93.7159 31.7407 91.4688 32.0005 90.6163C31.6748 88.2451 31.5981 85.2413 31.5981 85.2413C31.5981 85.2413 26.4941 85.3895 30.2742 84.1604C28.2149 83.3996 26.5446 84.6361 24.4655 83.715C23.2406 83.1709 22.262 83.2416 21.2062 84.197C20.2719 85.0429 19.2128 85.6989 18.1878 86.3879C17.3553 86.9469 16.4981 87.4906 15.3647 86.8699L15.1655 86.1803C14.7272 84.6629 14.2433 82.988 13.5727 80.6623C12.7342 72.7517 3.76736 82.5627 5.91906 77.0327C6.2657 75.4949 5.47308 73.998 5.26939 72.3733C4.79288 71.8414 4.29979 71.2886 3.8186 70.752C3.514 68.8993 4.04739 67.1584 4.4856 65.5449C5.0406 63.5005 4.93781 61.4977 5.03125 59.7244C4.30526 57.6931 3.66617 55.9006 3.00652 54.0572C3.52322 51.3239 4.66267 48.5998 3.57041 45.6076C-1.54123 43.822 2.44067 40.9354 0 36.172C0.368133 35.1381 0.77532 33.9969 1.25371 32.6592C6.02979 27.0038 6.22625 23.7026 9.72853 18.5643C10.9864 16.7195 13.6131 13.721 15.7397 12.8752C18.8599 11.6078 21.8921 9.73323 25.4619 10.027C27.8367 10.2166 29.8085 9.61058 32.1921 9.48662C38.21 8.78826 44.1319 8.20469 50.1774 9.22371C52.7992 9.12368 55.4219 9.02431 58.0436 8.92428C59.4573 9.32531 67.373 8.76852 73.7368 8.44228C75.0649 6.26599 92.8187 7.81966 94.5379 8.10634C97.1611 7.71568 99.9208 7.58201 102.542 8.16476C102.669 8.23779 112.599 6.5533 116.336 6.0859C120.074 5.61851 137.826 4.68371 147.637 4.21632C155.486 3.8424 168.28 2.00912 173.696 1.13922C177.104 0.501689 186.272 0.465115 193.27 0.365092C193.227 0.481941 193.187 0.599725 193.145 0.715639H193.273V0.365092C197.276 0.30807 200.567 0.227093 201.653 -6.10352e-05C202.298 0.085005 202.942 0.171415 203.587 0.255546L203.329 0.0510604L203.845 0.255546C203.974 0.272372 204.103 0.290776 204.232 0.306668C204.103 0.341255 203.974 0.375258 203.845 0.408911C206.784 0.950155 214.251 -0.274656 217.639 0.613396C217.932 0.278741 223.59 0.275235 225.118 0.408911C233.582 0.578108 242.05 0.749993 250.515 0.920125C251.556 1.04445 252.597 1.16825 253.638 1.29258C253.995 1.27015 254.329 1.23538 254.611 1.18304C254.482 1.14938 254.353 1.11444 254.224 1.08079C254.328 1.06648 254.432 1.05297 254.535 1.03946L254.611 1.02967C254.783 0.962366 254.954 0.89249 255.126 0.825185C255.04 0.89249 254.955 0.962366 254.869 1.02967C255.514 0.944605 256.158 0.85913 256.802 0.774064C257.887 1.00215 261.181 1.08126 265.183 1.13922V1.48976H265.311C265.27 1.37385 265.228 1.25513 265.186 1.13922C273.121 1.25233 283.86 1.27646 285.809 2.19816C289.191 3.28152 299.469 4.21632 304.14 3.74892C308.812 3.28152 316.754 2.19816 320.491 2.19816H339.646C341.14 2.19816 344.668 1.14165 346.244 0.613396C348.862 -0.62452 352.461 0.630497 355.107 -6.10352e-05C355.709 0.227093 357.536 0.30807 359.755 0.365092C363.635 0.465115 368.719 0.501689 370.609 1.13922C372.902 0.736712 378.982 0.173204 384.961 1.13922C392.436 2.34673 417.664 6.0859 420.467 5.61851C423.27 5.15111 426.54 6.98669 429.343 7.95549C431.585 8.73052 433.871 8.92428 434.734 8.92428Z' fill='%23FAE7D3'/%3E%3C/svg%3E");
      width: 466px;
      
      height: 94px;
      bottom: auto;
      margin-top: -8px;
      margin-left: -12px;
      z-index: -1;
      background-size: cover;
      
      @media #{$phone}{
       display: none;

      }


    }
  }

  @media #{$phone}{
    @include fsz(60px);
  }
}

//slider part
.image-slider__sliders {
  @media #{$phone}{
    padding: 0 20px;
  }
}
.image-slider__media {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin-left: 25px;
  min-height: 620px;
  height: 100%;
  overflow: hidden;
  img {
    max-width: 420px;
    width: 100%;
    min-height: 620px;
    overflow: hidden;
    object-fit: cover;
  }

  &:before {
    position: absolute;
    content: " ";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    width: 100%;
    height: 220px;
    top: auto;
    bottom: 0;
  }

  @media #{$phone} {
   
   margin-left: 10px;
   }
}
.image-slider__span {
  position: relative;
  max-width: 1134px;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(32, 57, 66, 0.25);
  z-index: 2;
}

.image-slider__content {
  position: absolute;
  top: auto;
  bottom: 30px;
  max-width: 420px;
  padding: 0 35px;
  width: 100%;

  h5 {
    padding: 4px 12px;
    width: 90px;
    height: 25px;
    border: 1px solid $primary-alt;
    font-family: $alt-family;
    font-weight: 600;
    @include fsz(13px);
    line-height: 1.2;
    color: $white;
    background-color: $primary;
    border-radius: 36px;
    margin: 0 auto;
  }
  .image-slider__subtitle {
    font-family: $primary-family;
    font-weight: 700;
    @include fsz(36px);
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: $white;
    margin-bottom: 10px;
  }
  h4 {
    font-family: $alt-family;
    font-weight: 600;
    @include fsz(18px);
    line-height: 1.1;
    text-align: center;
    color: $white;
    opacity: 0.75;
  }
}

.image-slider__mid {
  position: relative;
}
.image-slider__rightarrow  {
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
  max-width: 100px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  background-color:$secondary-alt ;
  z-index: 232;
  top: 0;
  
    bottom: 0;
    margin: auto 0;  
  &:before {
    content: "  ";
    position: absolute;
    background-image: url(uploads/sectionPattern.png);
    width: 100px;
    height: 100%;
    
    overflow: hidden;
  }
  svg {
    position: relative;
    width: 14px;
    height: 26px;
    
  }
  @media #{$phone}{
    max-width: 40px;
  }
}
.image-slider__leftarrow  {
 @extend .image-slider__rightarrow;
  right: 0;
 }