.media {
    position: relative;
  background-image: url(uploads/banner.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 210px;
  background-color: $white-soft;
  @media #{$phone} {
   margin-bottom: 578px;
  }
  &:after {
    content: " ";
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: -210px;
    left: 0;
    right: 0;
    width: 100%;
    height: 210px;
    background-color: $white-soft;
    @media #{$phone} {
      bottom: -578px;
      height: 578px;
    }
  }
}

.media__heading {
  max-width: 470px;
  width: 100%;
  .media__title {
    font-family: $alt-family;
    font-weight: 600;
    @include fsz(20px);
    line-height: 1;
    letter-spacing: 0.3em;
    color: $white;
    text-transform: uppercase;
  }
}

.media__span {
    position: absolute;
  width: 80px;
  height: 80px;
  opacity: 0.6;
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: $white;
  top: 34px;
  left: 30px;
}

.media__span--right {
    transform: rotate(90deg);
    right: 30px;
    left: auto;
}

.media__span--down {
    transform: rotate(180deg);
    right: 30px;
    left: auto;
    top: auto;
    bottom: 34px;
}

.media__span--leftdown {
    transform: rotate(270deg);
    left: 30px;
    right: auto;
    top: auto;
    bottom: 34px;
}
//banner
.media__banner {
 
  max-width: 970px;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: -210px;
  @media #{$phone} {
    bottom: -578px;
  }
}

.media__content {
  position: relative;
  z-index: 3;
  max-width: 970px;
  width: 100%;
  padding: 50px 55px 48px 50px;
  background-color: $alt;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media #{$phone} {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 0 40px 0;
  }

  &:before {
    content: " ";
    position: absolute;
    z-index: 2;
    top: auto;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='970' height='25' viewBox='0 0 970 25' fill='none'%3E%3Cpath d='M919.654 5.68001C932.255 5.78619 948.764 5.82501 954.902 6.5018C958.052 6.32101 963.403 6.10963 970 6.00357V24.9998H0.00013206C8.05614e-05 14.4997 -0.000104723 12.9997 8.05614e-05 5.74646C39 1.99971 69.2513 4.47186 89.5001 5.94355C100 6.7067 126.5 8.85825 147.5 7.99972C168.5 7.14118 186.641 3.78847 218.5 3.29229C243.987 2.89535 308 7.99972 308 7.99972C308 7.99972 373 0.37923 412.5 5.29229C452 10.2054 487.559 6.00668 504 6.11412C512.79 6.17156 546 10.5001 565.5 10.5001C580.589 10.5001 614.5 -3.50009 679.527 7.62598C690.508 8.77605 728.829 10.9963 744 10.5001C759.171 10.004 798.5 5.29229 798.5 5.29229C798.5 5.29229 839.932 0 846 0C867.788 0 897.745 5.49596 919.654 5.68001Z' fill='%23F5F4F1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.media__left {
  max-width: 450px;
  width: 100%;
  font-family: $alt-family;
  font-weight: 500;
  @include fsz(20px);
  line-height: 1.6;
  color: $primary;
  @media #{$header} {
    max-width: 320px;
    margin-top: 20px;
    max-width: 100%;
    padding: 0 40px;
  }
}

.media__subheading {
  position: relative;
  font-family: $primary-family;
  font-weight: 400;
  @include fsz(60px);
  line-height: 1;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 30px;
  
  @media #{$header} {
    @include fsz(38px);
   
  }
  @media #{$phone} {
   text-align: center;
   
  }
  &:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 459px;
    width: 100%;
    height: 325px;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='459' height='325' viewBox='0 0 459 325' fill='none'%3E%3Cg opacity='0.15'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M67.54 294.925C70.0085 294.925 72.4132 294.945 74.7727 294.964C77.0459 294.983 79.2739 295 81.4738 295C94.2822 295 104.477 294.314 115.721 290.896C121.601 289.109 127.107 286.301 132.431 283.587C141.327 279.053 149.724 274.772 159.778 274.772C161.443 274.772 163.132 274.894 164.8 275.135C172.215 276.209 177.766 280.586 183.137 284.817C189.171 289.576 194.873 294.067 202.872 294.067C203.597 294.067 204.343 294.03 205.083 293.952C210.016 293.448 217.916 289.004 225.556 284.705C230.469 281.94 235.109 279.329 238.398 278.114C243.187 276.348 246.773 275.494 249.392 274.87C257.288 272.987 258.284 272.293 262.122 257.738C263.183 253.713 263.951 249.951 264.695 246.314C267.459 232.815 269.64 222.153 284.015 211.965C293.714 205.11 306.023 201.777 321.642 201.777C337.118 201.775 353.295 205.019 367.57 207.882C375.034 209.379 382.085 210.791 387.322 211.35C390.365 211.675 395.054 211.871 399.868 211.871C413.655 211.871 429.809 206.815 430.938 199.563C431.473 196.129 428.794 190.972 412.986 185.91L411.222 185.348C350.975 166 308.956 140.755 266.189 98.2055C254.393 86.4674 245.383 81 237.837 81C236.063 81 234.331 81.3122 232.684 81.9253C224.662 84.9233 218.814 95.0589 212.04 106.795C208.542 112.855 204.578 119.722 199.892 126.333C177.204 158.347 144.644 181.739 108.21 192.202C97.4608 195.288 86.9669 196.853 77.0215 196.853C44.5759 196.853 21.6793 180.949 0 164.582V165.758C21.636 182.066 44.5514 197.793 77.0215 197.793C87.0551 197.793 97.6355 196.215 108.469 193.104C145.106 182.585 177.849 159.064 200.659 126.876C205.369 120.231 209.346 113.342 212.853 107.265C219.535 95.6871 225.308 85.6869 233.012 82.8074C234.555 82.2319 236.178 81.9404 237.837 81.9404C245.12 81.9404 253.92 87.3213 265.529 98.8712C308.407 141.535 350.535 166.847 410.936 186.243L412.702 186.808C424.539 190.597 430.686 195.076 430.01 199.418C429.071 205.442 414.703 210.931 399.868 210.931C395.086 210.931 390.433 210.739 387.422 210.415C382.227 209.862 375.197 208.452 367.754 206.96C353.437 204.09 337.21 200.835 321.642 200.836C305.82 200.836 293.337 204.226 283.472 211.198C268.794 221.6 266.58 232.422 263.777 246.126C263.035 249.75 262.266 253.5 261.212 257.497C257.391 271.998 256.614 272.182 249.176 273.954C246.533 274.584 242.917 275.447 238.077 277.232C234.714 278.472 230.042 281.101 225.094 283.885C217.89 287.938 209.727 292.532 204.987 293.018C204.277 293.091 203.565 293.127 202.872 293.127C195.198 293.127 189.622 288.731 183.718 284.078C178.251 279.769 172.598 275.314 164.935 274.204C163.222 273.958 161.486 273.832 159.778 273.832C149.499 273.832 140.607 278.364 132.007 282.749C126.717 285.446 121.248 288.235 115.449 289.997C104.316 293.381 94.1958 294.06 81.4738 294.06C79.2777 294.06 77.0515 294.043 74.7802 294.024C72.4188 294.005 70.0104 293.984 67.54 293.984C56.0655 293.984 45.797 292.643 36.1446 289.886C23.9505 286.399 11.9893 281.526 0 275.848V276.89C11.8954 282.504 23.772 287.324 35.8891 290.789C45.6222 293.572 55.9772 294.925 67.54 294.925Z' fill='url(%23paint0_linear_533_168)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M67.6142 275C83.4308 275 100.253 272.134 118.09 269.095C138.16 265.672 158.912 262.135 181.019 262.135C182.614 262.135 184.192 262.152 185.71 262.189C193.383 262.37 199.892 263.635 205.634 264.753C210.599 265.717 214.883 266.552 218.998 266.552C228.772 266.552 235.956 261.409 243.798 248.801C247.58 242.723 250.337 235.462 253.006 228.439C257.727 216.015 262.609 203.167 273.395 195.555C277.109 192.934 284.214 190.906 291.739 188.76C304.883 185.01 319.784 180.761 321.807 171.888C324.331 160.766 301.471 145.55 289.189 137.374C286.904 135.852 284.929 134.538 283.635 133.589C269.233 123.031 257.322 116 246.003 116C244.451 116 242.909 116.135 241.414 116.404C232.386 118.024 224.183 124.405 215.605 136.489C190.406 171.982 154.169 197.938 113.567 209.576C101.1 213.149 88.8321 214.961 77.1061 214.961C44.6587 214.961 20.6499 201.864 0 187.275V187.967C20.6461 202.514 44.6624 215.524 77.1061 215.524C88.8866 215.524 101.207 213.705 113.721 210.117C154.447 198.445 190.793 172.412 216.064 136.814C224.551 124.86 232.638 118.552 241.513 116.959C242.975 116.697 244.485 116.564 246.003 116.564C257.168 116.564 268.988 123.552 283.3 134.043C284.603 135 286.584 136.318 288.876 137.844C301.044 145.943 323.695 161.02 321.256 171.764C319.308 180.31 304.578 184.51 291.583 188.217C284.013 190.378 276.861 192.418 273.067 195.094C262.143 202.806 257.23 215.735 252.48 228.239C249.82 235.237 247.071 242.473 243.321 248.504C235.595 260.922 228.548 265.986 218.998 265.986C214.937 265.986 210.678 265.157 205.743 264.198C199.978 263.078 193.443 261.808 185.725 261.625C184.2 261.59 182.618 261.571 181.019 261.571C158.865 261.571 138.087 265.114 117.968 268.544C100.182 271.576 83.3838 274.436 67.6142 274.436C57.8798 274.436 49.272 273.331 41.2979 271.055C27.6347 267.155 13.9509 261.202 0 254.226V254.857C13.8907 261.793 27.5219 267.709 41.1436 271.596C49.1685 273.887 57.8272 275 67.6142 275Z' fill='url(%23paint1_linear_533_168)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M67.6152 262C82.3204 262 98.6187 259.234 115.874 256.307C136.485 252.807 157.797 249.189 181.022 249.189C182.737 249.189 184.42 249.208 186.023 249.247C187.409 249.279 188.774 249.316 190.117 249.352C193.628 249.447 196.946 249.537 200.141 249.537C220.148 249.537 232.54 245.479 240.706 224.078C245.867 210.546 251.72 195.21 265.761 185.321C269.733 182.523 273.703 180.134 277.211 178.027C285.335 173.142 291.752 169.283 291.993 163.954C292.213 159.055 287.235 153.163 275.851 144.849C264.93 136.876 255.945 133 248.385 133C247.702 133 247.018 133.034 246.35 133.094C235.367 134.11 228 143.142 218.676 154.576C214.435 159.775 209.629 165.665 203.995 171.272C179.57 195.581 149.558 213.31 117.198 222.545C103.552 226.44 90.0633 228.416 77.1071 228.416C45.1031 228.416 20.4207 216.896 0 203.584V204.257C20.4264 217.529 45.1125 228.978 77.1071 228.978C90.1141 228.978 103.655 226.995 117.352 223.084C149.804 213.823 179.903 196.045 204.395 171.669C210.051 166.041 214.863 160.138 219.112 154.93C228.356 143.599 235.656 134.647 246.403 133.653C247.052 133.593 247.719 133.563 248.385 133.563C255.819 133.563 264.696 137.404 275.516 145.302C286.733 153.494 291.639 159.238 291.429 163.928C291.201 168.957 284.897 172.747 276.917 177.546C273.404 179.659 269.423 182.053 265.434 184.862C251.253 194.851 245.37 210.273 240.178 223.879C232.128 244.976 219.896 248.976 200.141 248.976C196.953 248.976 193.64 248.886 190.134 248.792C188.789 248.755 187.424 248.719 186.038 248.685C184.43 248.646 182.741 248.627 181.022 248.627C157.75 248.627 136.413 252.249 115.78 255.753C98.5472 258.676 82.2715 261.439 67.6152 261.439C59.1219 261.439 51.695 260.503 44.9132 258.575C30.3339 254.431 15.4105 247.637 0 239.709V240.342C15.3466 248.227 30.2154 254.982 44.759 259.114C51.5934 261.057 59.0674 262 67.6152 262Z' fill='url(%23paint2_linear_533_168)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M67.4877 249C81.0652 249 96.8033 246.327 113.478 243.494C134.581 239.906 156.401 236.197 180.681 236.197C182.456 236.197 184.225 236.216 185.976 236.259L190.11 236.366C193.518 236.457 196.738 236.545 199.764 236.545C226.063 236.545 227.364 222.141 228.742 206.892C229.5 198.528 230.281 189.879 234.906 182.53C236.558 179.906 240.994 176.584 245.69 173.068C255.692 165.582 267.026 157.096 261.588 149.153C259.247 145.734 256.43 144 253.212 144C251.451 144 249.542 144.522 247.534 145.554C238.664 150.112 229.177 163.615 221.554 174.463C217.229 180.62 213.491 185.938 211.451 187.154C209.309 188.429 206.918 188.601 204.86 188.601C204.064 188.601 203.261 188.573 202.457 188.545C201.635 188.515 200.811 188.487 199.989 188.487C196.899 188.487 193.631 188.856 190.684 191.528C187.129 194.753 186.68 198.93 186.25 202.968C185.86 206.6 185.492 210.029 183.07 212.915C175.753 221.631 150.077 227.721 133.087 231.749C128.086 232.937 123.769 233.96 120.548 234.882C105.767 239.106 91.1024 241.249 76.9618 241.249C45.5737 241.249 20.478 230.999 0 218.733V219.831C20.4948 232.036 45.5944 242.184 76.9618 242.184C91.1888 242.184 105.941 240.03 120.807 235.78C124.007 234.865 128.315 233.842 133.307 232.66C151.438 228.358 176.271 222.469 183.789 213.515C186.397 210.41 186.796 206.677 187.183 203.067C187.615 199.025 188.024 195.206 191.315 192.221C194.027 189.761 197.087 189.422 199.989 189.422C200.8 189.422 201.613 189.45 202.424 189.479C203.24 189.507 204.053 189.537 204.86 189.537C207.045 189.537 209.594 189.348 211.93 187.958C214.147 186.637 217.754 181.503 222.324 175C229.487 164.802 239.301 150.838 247.964 146.387C253.248 143.673 257.428 144.733 260.813 149.678C265.746 156.885 254.791 165.087 245.127 172.32C240.151 176.045 235.854 179.262 234.11 182.033C229.365 189.572 228.574 198.335 227.807 206.808C226.41 222.263 225.205 235.61 199.764 235.61C196.749 235.61 193.537 235.522 190.136 235.43L186 235.324C184.24 235.281 182.464 235.262 180.681 235.262C156.323 235.262 134.463 238.978 113.309 242.573C96.687 245.398 80.9864 248.065 67.4877 248.065C60.2663 248.065 54.051 247.296 48.4871 245.714C33.1451 241.346 16.9451 233.592 0 224.636V225.695C16.8306 234.576 32.9367 242.261 48.2299 246.613C53.8783 248.22 60.1799 249 67.4877 249Z' fill='url(%23paint3_linear_533_168)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M295.284 227.122C301.659 222.612 310.389 220.42 321.967 220.42C335.571 220.418 350.786 223.471 364.211 226.163C372.124 227.751 379.597 229.251 385.701 229.903C388.691 230.221 396.716 230.963 406.605 230.963C424.925 230.963 448.42 228.477 456.315 216.63C459.749 211.479 459.89 205.007 456.734 197.393C455.25 193.816 451.418 191.873 447.711 189.995C444.78 188.509 441.746 186.972 440.065 184.679C438.07 181.961 436.893 178.154 435.755 174.471C434.239 169.568 432.673 164.497 429.113 161.502C424.7 157.787 419.857 156.058 413.87 156.058C409.716 156.058 405.466 156.9 401.359 157.712C397.299 158.516 393.101 159.347 389.047 159.347C385.156 159.347 381.769 158.574 378.691 156.986C371.216 153.126 368.072 147.931 365.029 142.907C361.065 136.355 357.321 130.167 344.977 127.274C319.152 121.219 312.074 114.896 294.974 99.6147C292.77 97.6443 290.401 95.5288 287.806 93.2476C281.651 87.8356 277.104 81.6588 272.711 75.6854C268.79 70.3562 264.733 64.8444 259.517 59.8129C253.097 53.6229 247.051 50.8688 241.204 48.2052C233.41 44.6562 226.051 41.3031 219.374 29.8179L218.332 28.0171C209.931 13.4651 201.439 0 196.221 0C195.382 0 194.658 0.329651 194.066 0.979553C192.183 3.04227 191.675 8.52588 192.508 17.7431C192.997 23.1457 196.894 27.9718 200.662 32.6417C204.726 37.675 208.564 42.4315 208.335 47.6853C208.06 53.9865 204.256 57.0871 200.232 60.3686C197.283 62.7704 194.237 65.2551 192.452 69.1017C188.166 78.3434 187.126 86.6225 186.124 94.6265C184.725 105.769 183.407 116.293 173.449 128.201C155.633 149.504 130.641 165.597 103.079 173.516C93.8961 176.153 85.398 177.436 77.0993 177.436C48.9367 177.436 28.7305 162.091 7.33777 145.846C4.91757 144.005 2.46912 142.155 0 140.309V141.956C2.1983 143.604 4.38159 145.254 6.54419 146.895C28.1175 163.28 48.4948 178.755 77.0993 178.755C85.5221 178.755 94.1387 177.455 103.442 174.784C131.254 166.793 156.476 150.549 174.461 129.046C184.665 116.843 186.008 106.132 187.429 94.7923C188.42 86.8862 189.445 78.7126 193.646 69.6574C195.301 66.0858 198.229 63.6991 201.061 61.3915C205.136 58.0704 209.348 54.6364 209.649 47.7437C209.901 41.9907 205.725 36.816 201.687 31.8128C198.041 27.2975 194.274 22.6276 193.819 17.6244C192.839 6.78149 193.941 3.07242 195.038 1.86868C195.38 1.4938 195.756 1.3186 196.221 1.3186C201.4 1.3186 212.465 20.4896 217.19 28.6764L218.236 30.4829C225.124 42.3298 232.671 45.7658 240.659 49.4052C246.404 52.0236 252.347 54.7305 258.603 60.7623C263.741 65.7166 267.763 71.1814 271.65 76.4671C276.088 82.497 280.675 88.7323 286.939 94.2385C289.528 96.5159 291.896 98.6314 294.098 100.6C311.374 116.037 318.526 122.427 344.676 128.559C356.48 131.326 360.087 137.282 363.904 143.591C367.041 148.771 370.281 154.129 378.089 158.158C381.357 159.846 384.942 160.665 389.047 160.665C393.229 160.665 397.492 159.821 401.613 159.006C405.661 158.203 409.844 157.376 413.87 157.376C419.53 157.376 424.103 159.008 428.267 162.511C431.53 165.258 433.038 170.139 434.497 174.861C435.667 178.648 436.878 182.564 439.005 185.461C440.87 188.006 444.046 189.615 447.117 191.171C450.771 193.022 454.222 194.772 455.518 197.898C458.494 205.08 458.395 211.137 455.22 215.899C447.649 227.26 424.604 229.644 406.605 229.644C396.778 229.644 388.81 228.908 385.841 228.591C379.799 227.945 372.352 226.451 364.47 224.871C350.985 222.166 335.702 219.099 321.967 219.099C310.107 219.101 301.131 221.371 294.523 226.045C278.066 237.701 282.786 255.279 287.352 272.278C292.229 290.437 297.268 309.214 276.998 321.468C274.569 322.937 271.319 323.681 267.344 323.681C255.224 323.681 238.147 317.045 221.632 310.625C207.252 305.034 193.667 299.754 184.83 299.545C183.557 299.515 182.292 299.502 181.017 299.502C181.013 299.502 181.009 299.502 181.003 299.502C162.008 299.502 142.806 302.781 124.238 305.955C105.702 309.122 86.5338 312.396 67.6083 312.396C54.3676 312.396 42.4169 310.819 31.0699 307.573C20.5785 304.573 10.2244 300.613 0 296.079V297.516C10.1003 301.973 20.3322 305.872 30.7088 308.841C42.1743 312.121 54.2454 313.714 67.6083 313.714C86.6448 313.714 105.869 310.431 124.46 307.255C142.976 304.092 162.121 300.82 181.003 300.82C182.292 300.779 183.533 300.833 184.802 300.863C193.407 301.067 206.887 306.306 221.158 311.855C237.784 318.316 254.975 325 267.344 325C271.622 325 275.003 324.214 277.677 322.598C298.799 309.83 293.626 290.565 288.622 271.937C283.971 254.612 279.576 238.246 295.284 227.122Z' fill='url(%23paint4_linear_533_168)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_533_168' x1='429.122' y1='215.326' x2='-2.34275' y2='217.335' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_533_168' x1='320.597' y1='215.803' x2='-1.75019' y2='217.312' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_533_168' x1='290.728' y1='213.972' x2='-1.58554' y2='215.502' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_533_168' x1='261.854' y1='209.908' x2='-1.42645' y2='211.432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_533_168' x1='457' y1='204' x2='-2.50001' y2='205.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23203942'/%3E%3Cstop offset='1' stop-color='%23203942' stop-opacity='0.49'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    @media #{$phone} {
      
      display: none;
     }
  }

}

.media__right {
  max-width: 360px;
  width: 100%;
  display: flex;
  margin-top: 26px;
}

.media__image {
  position: relative;
  max-width: 120px;
  width: 100%;
  height: 290px;
  border-radius: 60px;

  &:nth-child(1) {
    z-index: 3;
  }

  &:nth-child(2) {
    z-index: 2;
  }

  &:nth-child(3) {
    z-index: 1;
  }

  &:after {
    content: "";
    $borderWidth: -8px;
    position: absolute;
    top: $borderWidth;
    bottom: $borderWidth;
    left: $borderWidth;
    right: $borderWidth;
    z-index: -1;
    border: 8px solid $alt;
    border-radius: 60px;
  }
  img {
    object-fit: cover;
    height: 100%;
    border-radius: 60px;
  }
  .media__subtitle {
    position: absolute;
    top: auto;

    z-index: 34;
    bottom: 35px;
    font-family: $alt-family;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
    color: $white;
  }

  &:before {
    position: absolute;
    content: " ";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64) 50.52%
    );
    border-radius: 0 0 60px 60px;
    width: 100%;
    height: 145px;
    top: auto;
    bottom: 0;
  }
}


