@font-face {
    font-family: 'Prospectus Std';
    src: local('Prospectus Std');
    src: url(fonts/ProspectusStdReg.woff );
    src: url(fonts/ProspectusStdReg.woff2);
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: 'Prospectus Std';
    src: local('Prospectus Std');
    src: url(fonts/ProspectusStdSBd.woff);
    src: url(fonts/ProspectusStdSBd.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Prospectus Std';
    src: local('Prospectus Std');
    src: url(fonts/ProspectusStdBld.woff);
    src: url(fonts/ProspectusStdBld.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Prospectus Std';
    src: local('Prospectus Std');
    src: url(fonts/ProspectusStdBlk.woff);
    src: url(fonts/ProspectusStdBlk.woff2);
    font-style: normal;
    font-weight: 900;
}